* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-height: 32px;
    --font-size: 14px;
    --button-background: #FFF;
    --border-radius: 4px;
    --color: #333;
    --color-hover: #5cadff;
    --color-active:#3091f2;
    --border-color: #666;
    --border-color-hover: #5cadff;
    --border-color-active:#3091f2;
}

#app {
    margin: 20px;
}

body {
    font-size: var(--font-size)
}